<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/otp.css' %}"  />
    

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    

    </head>
    <body  >
        <div id="container" style="background-image:url(); width: 100%; height: 100%;" >


            <div id="regs">

                <h1 style="color: aliceblue;">Registeration</h1>
                <form >
                    <div class="box">
                        <input type="email" name="" required="" class="reg">
                        <label >Email id</label>

                    </div>
                    <div class="box">
                        <input type="password" name="" required="" class="reg">
                        <label >Enter Otp</label>

                    </div>
                    
                    <input type="submit"  name="" value="sendotp" onclick="otp();"> <br/>
                    

                </form>

            </div>

        </div>



    </body>


</html>

